Пространства имён — это способ разделения ресурсов кластера между несколькими пользователями (с помощью квоты ресурсов). По умолчанию в будущих версиях Kubernetes объекты в одном и том же пространстве имён будут иметь одинаковую политику контроля доступа.
kubectl create ns dev #Создания пространства имён с именем dev
--- #Создание пода в пространстве dev
apiVersion: v1
kind: Pod
metadata:
    name: test-ns
    namespace: dev
    labels:
       app: test-with-new-ns
spec:
   containers:
   - name: test-ns
     image: tomcat:latest
     ports:
     - containerPort: 80
---
kubectl get pods --all-namespaces #просмотр подов во всех пространствах
kubectl delete ns dev #Удаление пространства dev

Create ns manifest file

apiVersion: v1
kind: Namespace
metadata:
  name: fuck-police
  labels:
    maintainer: Pavel
 
Дабы каждый пользователь мог работать в своём неймспейсе необходимо создать контексты.
kubectl config set-context fuck-police --namespace=fuck-police --user=user --cluster=qwerty (создаём контекст в неймспейсе для пользователя user)\
kubectl config use-context dev. Создавать контексты необходимо, если вы не хотите постоянно указывать флагом нужный вам namespace

